apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: postgresql
  namespace: argocd
spec:
  project: default

  source:
  - repoURL: https://charts.bitnami.com/bitnami
    chart: postgresql
    targetRevision: 15.5.21
    helm:
      releaseName: postgresql
      valueFiles:
        - $values/apps/database/values/dbvalues.yaml

  - repoURL: git@github.com:k8nishant/argocd-poc.git
    targetRevision: main
    ref: values

  destination:
    server: https://kubernetes.default.svc
    namespace: database

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
