apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: postgresql
  namespace: argocd
spec:
  project: default

  sources:
    - repoURL: https://charts.bitnami.com/bitnami
      chart: postgresql
      targetRevision: 18.1.14
      helm:
        releaseName: postgresql
        timeout: 15m
        valueFiles:
          - $values/apps/database/dbvalues.yaml 

    - repoURL: git@github.com:k8nishant/argocd-poc.git
      targetRevision: main
      ref: values

  destination:
    server: https://kubernetes.default.svc
    namespace: database

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
