image:
  registry: docker.io
  repository: bitnami/postgresql
  tag: 15
  pullPolicy: IfNotPresent

auth:
  username: airflowuser
  password: airflowpassword
  database: airflowappdb

primary:
  persistence:
    enabled: true
    size: 1Gi

  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 100m
      memory: 512Mi

volumePermissions:
  enabled: true
