apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
spec:
  project: default

  sources:
    - repoURL: oci://quay.io/jetstack/charts
      chart: cert-manager
      targetRevision: v1.19.2
      helm:
        releaseName: cert-manager
        valueFiles:
          - $values/apps/cert-manager/values.yaml

    - repoURL: git@github.com:k8nishant/argocd-poc.git
      targetRevision: main
      path: apps/cert-manager/ClusterIssuer

    - repoURL: git@github.com:k8nishant/argocd-poc.git
      targetRevision: main
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
