executor: KubernetesExecutor

webserver:
  service:
    type: ClusterIP

scheduler:
  replicas: 1

workers:
  replicas: 1

postgresql:
  enabled: false

redis:
  enabled: true

data:
  metadataConnection:
    user: airflowuser
    pass: airflowpassword
    protocol: postgresql
    host: postgresql.database
    port: 5432
    db: airflowappdb