executor: KubernetesExecutor

webserver:
  service:
    type: ClusterIP

scheduler:
  replicas: 1

workers:
  replicas: 1

postgresql:
  enabled: true
  image:
    repository: bitnami/postgresql
    tag: 16


redis:
  enabled: true
