executor: KubernetesExecutor

webserver:
  service:
    type: ClusterIP

scheduler:
  replicas: 1

workers:
  replicas: 1

postgresql:
  enabled: true
  image:
    registry: docker.io
    repository: bitnami/postgresql
    tag: sha256-5c14ef3701dc6238ba06c2a08c5a12a4475d19436247b8da5d93a5ed70e7fada

redis:
  enabled: true
