backend:
  type: custom
  
# ---------------------------------------------------
# Fluent Bit global settings
# ---------------------------------------------------
service:
  flush: 5
  daemon: Off
  logLevel: info
  parsersFile: parsers.conf
  httpServer: On
  httpListen: 0.0.0.0
  httpPort: 2020

## https://docs.fluentbit.io/manual/administration/configuring-fluent-bit/classic-mode/configuration-file
# config:
#   inputs: |
#     [INPUT]
#         Name tail
#         Path /var/log/containers/*.log
#         Tag kube.*
#         multiline.parser docker, cri
#         Mem_Buf_Limit 50MB
#         Skip_Long_Lines On

#   filters: |
#     [FILTER]
#         Name kubernetes
#         Match kube.*
#         Merge_Log On
#         Keep_Log Off
#         K8S-Logging.Parser On
#         K8S-Logging.Exclude On

#   outputs: |
#     [OUTPUT]
#         Name opensearch
#         Match kube.*
#         Host opensearch-cluster-master.logging.svc.cluster.local
#         Port 9200
#         Logstash_Format On
#         Logstash_Prefix kubernetes-logs
#         Suppress_Type_Name On
#         Retry_Limit False


# ---------------------------------------------------
# Kubernetes-specific settings
# ---------------------------------------------------
rbac:
  create: true

serviceAccount:
  create: true
  name: fluent-bit

daemonSet:
  enabled: true

tolerations:
  - operator: Exists

# ---------------------------------------------------
# Volumes (required for container logs)
# ---------------------------------------------------
volumeMounts:
  - name: varlog
    mountPath: /var/log


volumes:
  - name: varlog
    hostPath:
      path: /var/log


# ---------------------------------------------------
# Resources
# ---------------------------------------------------
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 512Mi

# ---------------------------------------------------
# Pod security (best practice)
# ---------------------------------------------------
podSecurityContext:
  fsGroup: 2000

securityContext:
  runAsUser: 1000
  runAsNonRoot: true
  allowPrivilegeEscalation: false

# ---------------------------------------------------
# Metrics (Prometheus scraping)
# ---------------------------------------------------
metrics:
  enabled: true
  serviceMonitor:
    enabled: false
