# ---------------------------
# Cluster basics
# ---------------------------
clusterName: opensearch-cluster
nodeGroup: master

replicas: 1

# Single-node discovery (VERY IMPORTANT for POC)
config:
  opensearch.yml: |
    cluster.name: opensearch-cluster
    node.name: ${HOSTNAME}
    discovery.type: single-node
    network.host: 0.0.0.0
    plugins.security.disabled: false
    plugins.security.allow_default_init_securityindex: true
    plugins.security.ssl.http.enabled: false
    plugins.security.ssl.transport.enabled: false

# ---------------------------
# JVM & resource tuning
# ---------------------------
opensearchJavaOpts: "-Xms512m -Xmx512m"

resources:
  requests:
    cpu: "200m"
    memory: "1Gi"
  limits:
    cpu: "500m"
    memory: "1Gi"

# ---------------------------
# Persistence (PVC)
# ---------------------------
persistence:
  enabled: true
  size: 1Gi
  storageClass: ""   # keep empty to use default SC

# ---------------------------
# Service exposure
# ---------------------------
service:
  type: ClusterIP
  ports:
    - name: http
      port: 9200
    - name: transport
      port: 9300

# ---------------------------
# Security (disabled for POC)
# ---------------------------
securityConfig:
  enabled: false

# ---------------------------
# Pod scheduling (safe defaults)
# ---------------------------
podSecurityContext:
  fsGroup: 1000

securityContext:
  runAsUser: 1000
  runAsNonRoot: true

# ---------------------------
# Anti-affinity (disabled since replicas=1)
# ---------------------------
antiAffinity: "soft"

# ---------------------------
# Init container (filesystem permissions)
# ---------------------------
sysctlInitContainer:
  enabled: true

# ---------------------------
# Logging level
# ---------------------------
extraEnvs:
  - name: OPENSEARCH_LOG_LEVEL
    value: INFO
  - name: OPENSEARCH_INITIAL_ADMIN_PASSWORD
    valueFrom:
      secretKeyRef:
        name: opensearch-admin-secret
        key: OPENSEARCH_INITIAL_ADMIN_PASSWORD

##kubectl create secret generic opensearch-admin-secret \
##  -n logging \
##  --from-literal=OPENSEARCH_INITIAL_ADMIN_PASSWORD='XXXXXXXXXX'

readinessProbe:
  httpGet:
    scheme: HTTP
    path: /_cluster/health
    port: 9200
  initialDelaySeconds: 60
  periodSeconds: 10
  failureThreshold: 10

startupProbe:
  httpGet:
    scheme: HTTP
    path: /_cluster/health
    port: 9200
  initialDelaySeconds: 60
  periodSeconds: 10
  failureThreshold: 30

