grafana:
  apiKey: glsa_iQFNkjrXYrsb1tzRAo4h5azalF0APK0W_27c04f27
  url: http://grafana.monitoring.svc.cluster.local

ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  hosts:
    - host: grafana-mcp.127.0.0.1.nip.io
      paths:
        - path: /
          pathType: Prefix

  tls: []